{% extends 'coffee/header.html' %}
{% block content %}
  <div class="row">
    <h1 class="center-align">Upload Coffee</h1>
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      <table class='highlight' style="border-radius:10px;background-color:#FFFF99;">
          {% for field in c_form %}
          <tr>
              <th>{{field.label}}</th>
              <td>{{ field }}</td>
          </tr>
          {% endfor %}
      </table>
      <button type="submit" class="btn waves-effect waves-light">Submit</button>
    </form>
  </div>
{% endblock %}
