{% extends 'coffee/header.html' %}
{% block content %}
  <script>
    function deleteClick(id) {
      var confirmed = confirm('Are you sure you want to delete this coffee?');
      if (confirmed) {
        var token = Cookies.get('csrftoken');
        $.ajax(
          {
            headers: { 'X-CSRFToken': token },
            url: 'http://localhost:8000/delete/' + id,
            type: 'DELETE',
            success: function(res) {
              console.log(res);
              return window.location.reload();
            },
            error: function(err) {
              console.log(err);
            }
          }
        );
      }
    }
  </script>

  <div class='row'>
    <div style="float: right; margin-top: 25px;">
      <a href='/create'>
        <button
          class="teal darken-3 btn"
        >
          Add New Coffee
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    {% csrf_token %}
    {% for coffee in all_coffee %}
      <div class="col s12 m6 l4">
        <div class="card grey">
          <div class="card-content white-text">
            <h3><span class="card-title">{{ coffee.name }}</span></h3>
            <h6><strong>Roaster: </strong>{{ coffee.roaster }}</h6>
            <h6><strong>Brew Method: </strong>{{ coffee.brew_method }}</h6>
            <h6><strong>Variety: </strong>{{ coffee.variety }}</h6>
            <h6><strong>Tasting Notes: </strong>{{ coffee.tasting_notes }}</h6>
          </div>
          <div class="card-action">
            <a
              href="edit/{{coffee.id}}"
              id="{{coffee.id}}"
              style='color: #00695c;'
            >
              <strong>Edit</strong>
            </a>
            <button
              class="waves-effect waves-light btn teal darken-3"
              onclick="deleteClick('{{ coffee.id }}')"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
